@model List<TTRPGForum.Models.Discussion>

@{
    ViewData["Title"] = "TTRPG FORUM";
}

<h1> Home Page Display all discussion</h1>


@foreach(var item in Model)
{
    <h2>@item.Title</h2>
    <p> 
        @item.ImageFilename <br />
        @item.DiscussionId <br />
        @item.Content <br />
        @item.CreateDate <br/>
        <a asp-controller="Home" asp-action="GetDiscussion" asp-route-itemid="@item.DiscussionId"> Got to Discussion</a> 

    
    </p>
}
